@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-lab-mono);
}

body {
  background-color: #ffffff;
  background-image: 
    radial-gradient(at 47% 33%, hsla(199,98%,68%,0.15) 0px, transparent 50%),
    radial-gradient(at 82% 65%, hsla(217,95%,73%,0.15) 0px, transparent 50%),
    radial-gradient(at 36% 87%, hsla(335,82%,88%,0.15) 0px, transparent 50%),
    radial-gradient(at 83% 13%, hsla(250,74%,74%,0.15) 0px, transparent 50%),
    radial-gradient(at 10% 19%, hsla(170,74%,74%,0.15) 0px, transparent 50%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-lab-mono), monospace;
  min-height: 100vh;
}
